# General
*.log
*.tmp
*.temp
*.swp
*.swo
.DS_Store
Thumbs.db
.vscode/
.idea/
*.bak
*.sublime*
*~

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.installed.cfg
*.manifest
*.spec

# .NET
bin/
obj/
*.user
*.userprefs
*.suo
*.cache
*.csproj.user
*.vbproj.user
*.nupkg
*.dll
*.exe
*.pdb
*.mpack
packages/
TestResults/
*.vs/
*.vscode/
*.rptproj.user
*.testpublish/

# Java
target/
out/
*.iml
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Rust
/target/
Cargo.lock
**/*.rs.bk

# Go
/bin/
/pkg/
*.o
*.a
*.so
/vendor/
Gopkg.lock
*.test
*.exe
